
hi.csv
hi0.csv
__pycache__/patterns.cpython-36.pyc
__pycache__/DV_Detector.cpython-36.pyc
__pycache__/main.cpython-36.pyc
__pycache__/patterns.cpython-36.pyc
__pycache__/RandDMVD.cpython-36.pyc
__pycache__/patterns.cpython-36.pyc
Results/DMV_hi0.csv
Results/DMV_12252-1.csv
